NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_AWS_REGION=ap-southeast-2
NEXT_PUBLIC_AWS_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_AWS_COGNITO_APP_CLIENT_ID=
S3_BUCKET_PROTOCOL=http
S3_BUCKET_HOSTNAME=localhost
S3_BUCKET_PORT=9000
