# Client
client/node_modules
client/dist/
client/.env
client/.env*.local
client/.env.example
client/.next/
client/next-env.d.ts
client/out/
client/build
client/tsconfig.tsbuildinfo

# Server
server/node_modules
server/dist/
server/.env
server/.env*.local
server/generated/prisma
server/build

# General
AmazonAWS-standart-key.pem
nul